* {
  margin: 0;
  padding: 0;
  color: #444;
}

header {

  .switcher {
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.0169492em;
    font-size: $logoFontSize;
    font-weight: $logoFontWeight;
    color: $logoFontColor;
  }

  label {
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .nav-menu ul {
    display: flex;
    float: right;
    align-content: space-between;
    align-items: center;
  }

  li .nav-link {
    display: inline-block;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 21.4px 0;
    margin-right: 30px;
    transition: 0.4s;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #111;
    }

    &:active {
      color: #111;
    }
  }
}

@media screen and (max-width: $tableWidth) {
  header {
    padding: 0 45px;

    .logo {
      justify-content: center;
    }

    .open,
    .close {
      display: block;
    }

    .close {
      position: absolute;
      top: 30px;
      right: 23px;
    }

    .switcher:checked ~ nav {
      right: 0;
      background-color: $default-color;
    }

    nav {
      position: fixed;
      width: 100%;
      height: 100vh;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0;
      transition: 0.7s;
    }

    .nav-menu {
      flex-direction: column;

      li .nav-link {
        padding: 20px;
        cursor: pointer;
        color: #a8a8a8;

        &:hover {
          background-color: rgba($color: #111, $alpha: 0.03);
        }

        &:active {
          color: #111;
        }
      }
    }
  }
}
