@charset "utf-8";
@import "utils/libs";
@import "utils/variables";
@import "utils/mixins";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: rem(16px, 1rem);
  }
  @media screen and (max-width: $tableWidth) {
    font-size: rem(15px, 1rem);
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: rem(14px, 1rem);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: #444;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: rem(40px, 1rem) 0;
  @media screen and (max-width: $desktopWidth) {
    padding: rem(36px, 1rem) 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: rem(28px, 1rem) 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: rem(20px, 1rem) 0;
  }
}

.wrapper {
  display: flex;
  max-width: rem($smDesktopWidth, 1.25rem);
  flex-direction: column;
  margin: 0.625rem auto;
  min-height: 100vh;
  padding: 0 0.625rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Modules
@import "modules/header";
@import "modules/footer";
